body{
    padding: 10px, 20px;
}
h1, p{
    margin: 10px;
    color: #04653e;
    /* border:3px, red,solid ; */
    /* border-top: solid, 3px, red; */
    /* border-bottom: solid,5px,green; */
    text-align: center;
}

.h1{
    width: 300px;
    margin: auto;
    
}
button{
    margin: 5px; 
    background-color: rgb(193, 199, 199);
    border-radius: 10px;
    width: 70px;
    
} 

#welcome{
    border-top: #04653e 5px solid;
    border-bottom: #04653e 5px solid;
border-left: yellow solid 10px;
border-right: yellow solid 10px;
width: 300px;
margin: 20px auto;
}

.img{
    width: 200;
    height: 200;
}

#gallary,#second{
    width: 200px; 
    /* height: 500px; */
    color: #39da77; 
    border-top: #04653e 5px solid;
    border-bottom: #04653e 5px solid;
border-left: rgb(104, 118, 212) solid 55px;
border-right: rgb(29, 235, 183) solid 60px;
}